.start-game{
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 4px 6px -4px rgb(255 255 255 / 0.5);
    padding: 10px 10px 20px;
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -70%);
}
.phoneWidth{
    width: 80%;
    min-width: 400px;
}
.desktopWidth {
    width: 600px;
}
.header {
    width: calc(100% - 1rem);
}

.content {
    width: calc(100% - 1rem);
}

.footer {
    width: calc(100% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    background: rgba(255,255,255,0.8);
    padding: 14px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    color: var(--middleColor);
}

.footer div:hover {
    background: var(--middleColor);
    color: #fff;
}
.footer .rules {
    right: 4px;
    bottom: -3px;
}